* {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4 h5, h6 {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
}

p {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-style: normal;
    /*color: #370003 !important;*/
}

.gold {
    font-weight: bold;
    color: #FB8F2B;
}

.thumbnail {
    position: relative;
    width: 249px;
    height: 150px;
    overflow: hidden;
    border-radius: 1%;
    text-align: center;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    /*height: 100%;*/
    /*width: auto;*/
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail img.portrait {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.profile-name {
    line-height: 40px;
}

.profile-pic {
    float: inherit;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

.profile-pic img {
    float: right;
    height: auto;
    width: auto;
}

.estate_box {
    width: 250px;
    border-style: solid;
    border-width: thin;
    border-color: #dcdcdc;
    border-radius: 1%;
    background-color: #fdfdfd;
}

.estate-img {
    width: 250px;
    transition: transform 1s ease-in;
    max-height: 250px;
    max-width: 250px;
}

.estate-thumb {
    height: 250px;
    width: 300px;
    background-size: cover;
}

.dropdown .dropdown-menu .dropdown-item:link, .dropdown .dropdown-menu .dropdown-item:visited {
    background-color: #FFFFFF !important;
    color: #4A4A4A;
    font-weight: bold;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #f1dfdf !important;
    border-right: 10px solid #A32927;
    color: #4A4A4A;
    font-weight: bold;
}

.globus {

}

.navbar a:link, .navbar a:visited {
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
}

.navbar a:hover, .navbar a:active {
    color: #EAB64D;
    font-weight: normal;
    text-decoration: none;
}

.globus a:link, .globus a:visited {
    color: #424242;
    text-decoration: none;
}

.globus a:hover, .globus a:active {
    color: #6c6c6c;
    border-width: medium;
    text-decoration: none;
}

.my-foot {
    /*color: #FFFFFF;*/
}

.my-foot a:link,.my-foot  a:visited {
    font-weight: bold;
    color: #FFFFFF;
}

 a.my-foot:hover, .my-foot a:active {
    font-weight: bolder;
    color: #EAB64D;
}

#navBarSearchWidth {
    width: 300px !important;
}


.users {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 0;
    margin: 0;
}

.user .user-img {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.well {
    background-color: #fdfdfd;
}

.head-foot-colors {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-style: normal;
    /*font-weight: bold;*/
    /*color: #FFFFFF;*/
    background-color: #930416;
}

.container {padding:80px;}
.form-control {width:120px;}
.popover {max-width:400px;}

#popover-content-filter > * {
  background-color:#ff0000 !important;
}

.my_color_palette {
    color: #930416;
    color: #64000D;
    color: #370003;
    color: #A32927;
    color: #EAB64D;
    color: #FB8F2B;
    color: #2794A3;
    color: #FFFFFF;
    color: #BEBEBE;
    color: #838383;
    color: #4A4A4A;
    color: #1F1F1F;
}