{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="offset-1 col-md-8">

        <h3>Skrá inn kredit kort</h3>

        <div class="row">

            <div class="col-md-6">

                <div class="row">
                    <div class="col"><h4>{{ estate.name }}</h4></div>
                </div>

                <div class="row">
                    <div class="col-md-4"><strong>Heimilisfang:</strong></div>
                    <div class="col-md-8">{{ estate.address.street_name }}, {{ estate.address.region_code }}</div>
                    <div class="col-md-4"><strong>Konungsríki:</strong></div>
                    <div class="col-md-8">{{ estate.address.region_code.kingdom }}</div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><strong>Stærð:</strong></div>
                    <div class="col-md-8">{{ estate.size }} fm</div>
                    <div class="col-md-4"><strong>Herbergi:</strong></div>
                    <div class="col-md-8">{{ estate.rooms }}</div>
                    <div class="col-md-4"><strong>Hæðir:</strong></div>
                    <div class="col-md-8">{{ estate.floors }}</div>
                    <div class="col-md-4"><strong>Turnar:</strong></div>
                    <div class="col-md-8">{{ estate.towers }}</div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><strong>Eigandi:</strong></div>
                    <div class="col-md-8">{{ estate.user.get_full_name }}</div>
                </div>
                <br>
            </div>

            <div class="col-md-6 text-right">
                <img src="{{ estate.estateimage_set.first }}" class="estate-img thumbnail" alt="{{ estate.name }}"/>
            </div>

        </div>
        <br>
        <div class="row">

            <div class="col-md-6"><h5>Korta upplýsingar</h5></div>
            <div class="col-md-6"></div>
            <div class="col-md-12">
                <hr class="mb-4">
            </div>

            <div class="col-md-6">
                <div class="upplysingar">{{ client.get_full_name }}</div>
            </div>
            <div class="col-md-6">
                <div class="upplysingar">{{ client.userprofile.street }}, {{ client.userprofile.region }}</div>
            </div>

            <form class="form form-horizontal"
                  action="{% url 'sale-card-info' client.id %}"
                  enctype="multipart/form-data"
                  method="post">

                {% csrf_token %}

                {{ kredit_form|crispy }}

                <hr class="mb-4">
                <div class="text-left">
                    <input type="submit"
                           value="Create"
                           class="btn btn-danger btn-block"
                    />
                </div>
            </form>
        </div>
        <br>


    </div>

{% endblock %}