{% extends 'base.html' %}

{% block content %}

    <div class="offset-1 col-md-8">

        <h3>Takk fyrir kaupin á {{ estate.name }}</h3>

        <div class="row">

            <div class="col-md-6">

                <div class="row">
                    <div class="col"><h4>{{ estate.name }}</h4></div>
                </div>

                <div class="row">
                    <div class="col-md-4"><strong>Heimilisfang:</strong></div>
                    <div class="col-md-8">{{ estate.address.street_name }}, {{ estate.address.region_code }}</div>
                    <div class="col-md-4"><strong>Konungsríki:</strong></div>
                    <div class="col-md-8">{{ estate.address.region_code.kingdom }}</div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><strong>Stærð:</strong></div>
                    <div class="col-md-8">{{ estate.size }} fm</div>
                    <div class="col-md-4"><strong>Herbergi:</strong></div>
                    <div class="col-md-8">{{ estate.rooms }}</div>
                    <div class="col-md-4"><strong>Hæðir:</strong></div>
                    <div class="col-md-8">{{ estate.floors }}</div>
                    <div class="col-md-4"><strong>Turnar:</strong></div>
                    <div class="col-md-8">{{ estate.towers }}</div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><strong>Nýr eigandi:</strong></div>
                    <div class="col-md-8">{{ estate.user.get_full_name }}</div>
                </div>
                <br>
            </div>

            <div class="col-md-6 text-right">
                <img src="{{ estate.estateimage_set.first }}" class="estate-img thumbnail" alt="{{ estate.name }}"/>
            </div>

        </div>
        <br>
        <div class="row">

            <div class="col-md-12 text-center"><h3>Til hamingju með nýja Kastalann {{ client.first_name }}!</h3></div>
            <div class="col-md-12 text-center"><h5>Lyklarnir eru í póstinum. Njóttu vel.</h5></div>
            <div class="col-md-12 text-center"><p>Tölvupóstur hefur verið sendur á {{ client.email }} með staðfestingu á kaupunum og
                þinglýsingarskjöl hafa verið send til sýslumanns.</p></div>
                <hr class="mb-4">

        </div>
        <br>

        <div class="row">
            <div class="col-md-12 text-left">
                <a href="{% url 'estates-index' %}" class="btn btn-outline-danger btn-block">Takk fyrir kaupin!</a>
            </div>
        </div>

    </div>

{% endblock %}
