{% load static %} <!--/Loads in the static template folder path -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--/ Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--/Fontawesome token myndir -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!--/Our own stylesheet 'css/styles.css' -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Casterly Rock</title>
</head>
<body>

<!--/ NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark head-foot-colors">

    <a class="navbar-brand" href="/" title="Casterly Rock Home"><i class="fab fa-fort-awesome" style="font-size: 30px;"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
{#        <span class="navbar-toggler-icon">hellow</span>#}
    </button>

    <!--/ SEARCH BAR -->
    <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
            <input class="form-control input-mini" type="search" placeholder="Leita: götuheiti, póstnúmer"
                   aria-label="Search" aria-describedby="basic-addon2" name="leita" id="search-bar">
            <div class="input-group-append">
                <button class="btn btn-outline-light" type="submit" id="search-button" alt="search">
                    <span class="fas fa-search" id=""></span>
                </button>
            </div>
            <!--/ FILTER ICON BELOW -->
            <div class="input-group-append">
                <button class="btn btn-outline-light" type="submit" id="filter-button" alt="filter">
                    <span class="fas fa-filter" id=""></span>
                </button>
            </div>
        </div>
    </form>


    <!--/ THIS GOES TO THE RIGHT SIDE -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <li class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'add_new_estate' %}">SKRÁ NÝJA EIGN <span class="sr-only">(current)</span></a>
            </li>
            <p><img src = "{{ user.profile.profile_image }}" alt="description" width="100" height="48"/> </p>
        {% else %}

        <li class="nav-item ">
            <li>
                <a class="nav-link" href="{% url 'login' %}">SKRÁ INN
                    <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user"></i> SKRÁ NOTANDA
                    <span class="sr-only">(current)</span></a>
            </li>
        {% endif %}

        </li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'estates-index' %}">FORSÍÐA</a>
                {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'profile' %}">MITT SVÆÐI</a>
                {% endif %}
                <a class="dropdown-item" href="#">UM OKKUR</a>
                {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'add_new_estate' %}">SKRÁ NÝJA EIGN</a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href = "{% url 'logout' %}">SKRÁ ÚT</a>
                {% endif %}
            </div>
        </li>
        </ul>
    </div>

</nav>


<div class="container">
    <div class="globus">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}

    </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-0 head-foot-colors">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center footer-text">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 footer-text">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Casterly Rock Fasteignamiðlun</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


<!--/ Optional JavaScript -->
<!--/ jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--/ Out own Javascript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
<script src="{% static 'js/estates.js' %}"></script>
</body>
</html>


