<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Casterly Rock</title>
</head>

<body>
    <table align="center">
        <tbody>
            <tr>
                <td><img style="display: block; margin-left: auto; margin-right: auto;"
                        src="https://vignette.wikia.nocookie.net/gameofthrones/images/a/a8/Casterly-rock.png"
                        alt="Casterly Rock" width="300" height="200" /></td>
                <td><img style="display: block; margin-left: auto; margin-right: auto;"
                        src="https://i.pinimg.com/originals/09/f7/5a/09f75aba8530425633549c00739f2718.jpg" alt=""
                        width="133" height="200" /></td>
                <td><img style="display: block; margin-left: auto; margin-right: auto;"
                        src="https://i.pinimg.com/736x/58/21/45/582145adaacb8382e1f4a9e2a8465dd5.jpg" alt="" width="153"
                        height="200" align="center" /></td>
            </tr>
        </tbody>
    </table>
    <table style="height: 149px; width: 602px;" align="center">
        <tbody>
            <tr style="height: 290.333px;">
                <td style="width: 401.333px; height: 290.333px;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <h2>Casterly Rock - Westerlands</h2>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 236.667px;">
                        <tbody>
                            <tr>
                                <td style="width: 5px;">
                                    <h4>St&aelig;r&eth;:<sup>&nbsp;</sup><br />Herbergi:<br />P&oacute;stnr.:<br />D&yacute;flissa:<br />Kastalad&iacute;ki:<br />Tegund:
                                    </h4>
                                </td>
                                <td style="width: 157.667px;">
                                    <h4>2393232 fm<sup>2</sup><br />100<br />101<br />Nei<br />Nei<br />Kastali</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="width: 189.667px; text-align: right; height: 290.333px;">
                    <h1>6.500.000,-</h1>
                    <table style="width: 187.667px; height: 77px;">
                        <tbody>
                            <tr style="height: 37.8333px;">
                                <td style="text-align: right; height: 37.8333px; width: 179.667px;">
                                    <h4><span style="color: #ff9900;">Hafa samband</span><br /><span
                                            style="color: #ff9900;">vi&eth; seljendur</span></h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h1>&nbsp;</h1>
                </td>
            </tr>
        </tbody>
    </table>

    <table style="width: 601.667px;" align="center">
        <tbody>
            <tr>
                <td style="width: 594.667px;">
                <p>Mjög virðulegt 358,4 fm<sup>2</sup> (samkv. fasteignamati) + u.þ.b. 41 fm<sup>2</sup>
                sem eru óskráðir, samtals uþb 401,8 fm 10 gistiherbergi, þ.a. fimm herbergi með sér baðherbergi inn af
                herberginu með sturtu og salerni. Önnur herbergi með aðgangi að uppgerðum baðherbergjum. Góð lofthæð er
                í húsinu. Bókið skoðun: Jason Kr. Ólafsson, s. 775 1515 - jassi@casterlyrock.is - löggiltur
                fasteignasali.
                </p>
                <p>

                Nánari lýsing: Eignin stendur á 2000,1 fm eignarlóð og er steinsteypt en það var byggt árið 1933.
                Gangstéttar eru steyptar og með snjóbræðslu. Húsið skiptist í kjallara, tvær hæðir og þakhæð(sem er ekki
                í fermetratölu). Skipt hefur verið um flesta glugga en þeir eru úr harðvið og hluti þeirra er úr stáli,
                hringgluggi og gluggi í enda gangs. Þegar komið er að húsinu er gengið upp tröppur að veglegri
                stálútihurð.1. hæð: Forstofa með fallegum ítölskum flísum í stíl við uppruna hússins.Móttaka með
                upprunalegum innréttingum úr harðvið og einstaklega fallegum arni. Parket er á gólfi. Gluggar með
                umgjörð úr harðvið.
                </p>
                <p>

                Stofa/borðstofa: Björt og rúmgóð með fallegu upprunalegu parketi á gólfi. Fallegt parket með
                fiskibeinamynstri. Rúmgott herbergi/stofa sem er með útgengi frá eldhúsi og einnig af gangi. Þar er hurð
                þar sem hægt er að ganga út í garð austanmegin.Eldhús með gluggum til austurs og útgengi í garð, þaðan
                er einnig stigi sem liggur í kjallara. Eldhúsinnrétting er frá Mile / Eirvík. Salerni er á hæðinni,
                skápur og geymsla. Fallegur stigi liggur upp á efri hæð með ofnum vínil á gólfi frá Bolon / Parket og
                Gólf.2 hæð.
                </p>
                <p>

                Fjögur herbergi búin húsgögnum, tvíbreiðum rúmum öll með flatskjá.Herbergin eru öll með baðherbergi,
                flísalögð með sturtu. Eitt af fjórum herbergjum á hæðinni er með útgengi á suð-vestursvalir. Harðparketi
                á gólfi, björt og rúmgóð3.hæð sem er þakhæð: (óskráð rými). Herbergi með tveimur einföldum rúmum og
                fallegt nýtt baðherbergi með sturtu. Sauna klefinn er úr stuðlabergi frá S.Helgasyni að utan og
                hraunflísar inni í gufu. Útgengi út á þaksvalir með heitum potti. Útsýni er frá þaksvölum. Baðherbergi
                með sturtu.Kjallari:
                </p>
                <p>
                Fjögur rúmgóð svefnherbergi. Baðherbergi sem er rúmgott, uppgert með baðkari og sturtu. Þvottahús er í
                kjallara en þar er einnig vatnsinntak fyrir húsið og lagnagrind sem búið er að endurnýja.Öll gólf í
                kjallara eru flotuð Sérinngangur er í kjallara en einnig er innangengt frá eldhúsi 1. hæðar. Þessi
                fallega eign er á miðsvæðis í botlangagötu með bílastæðum við lóð og innkeyrslu.Búið að endurnýja húsið
                mikið á metnaðarfullan hátt. Þak var yfirfarið fyrir 2 árum og rennur að hluta. Fjórir inngangar eru í
                húsið. Í húsinu eru 7 baðherbergi með salerni og sturtu (eitt meða baðkari og sturtu), öll ný uppgerð á
                smekklegan hátt. Húsið er hentugt hvort sem er sem fjölskylduhús eða gistihús.Arkitektinn
                </p>
                <p>

                Sigurður Guðmundsson teiknaði húsið fyrir Thor Thors, en hann var frumkvöðull nýrrar húsagerðar í anda
                Bauhaus stefnunnar.
                </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>