<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Casterly Rock</title>
</head>

<body>
    <table align="center">
        <tbody>
            <tr>
                <td><img style="display: block; margin-left: auto; margin-right: auto;"
                        src="https://vignette.wikia.nocookie.net/gameofthrones/images/a/a8/Casterly-rock.png"
                        alt="Casterly Rock" width="300" height="200" /></td>
                <td><img style="display: block; margin-left: auto; margin-right: auto;"
                        src="https://i.pinimg.com/originals/09/f7/5a/09f75aba8530425633549c00739f2718.jpg" alt=""
                        width="133" height="200" /></td>
                <td><img style="display: block; margin-left: auto; margin-right: auto;"
                        src="https://i.pinimg.com/736x/58/21/45/582145adaacb8382e1f4a9e2a8465dd5.jpg" alt="" width="153"
                        height="200" align="center" /></td>
            </tr>
        </tbody>
    </table>
    <table style="height: 149px; width: 602px;" align="center">
        <tbody>
            <tr style="height: 290.333px;">
                <td style="width: 401.333px; height: 290.333px;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <h2>Casterly Rock - Westerlands</h2>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 236.667px;">
                        <tbody>
                            <tr>
                                <td style="width: 5px;">
                                    <h4>St&aelig;r&eth;:<sup>&nbsp;</sup><br />Herbergi:<br />P&oacute;stnr.:<br />D&yacute;flissa:<br />Kastalad&iacute;ki:<br />Tegund:
                                    </h4>
                                </td>
                                <td style="width: 157.667px;">
                                    <h4>10591,4 fm<sup>2</sup><br />100<br />101<br />Nei<br />Nei<br />Kastali</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="width: 189.667px; text-align: right; height: 290.333px;">
                    <h1>6.500.000,-</h1>
                    <table style="width: 187.667px; height: 77px;">
                        <tbody>
                            <tr style="height: 37.8333px;">
                                <td style="text-align: right; height: 37.8333px; width: 179.667px;">
                                    <h4><span style="color: #ff9900;">Hafa samband</span><br /><span
                                            style="color: #ff9900;">vi&eth; seljendur</span></h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h1>&nbsp;</h1>
                </td>
            </tr>
        </tbody>
    </table>

    <table style="width: 601.667px;" align="center">
        <tbody>
            <tr>
                <td style="width: 594.667px;">
                    <p>Mjög virðulegur 10158,4 fm<sup>2</sup> (samkv. fasteignamati) kastali ásamt u.þ.b. 433 fm<sup>2</sup>
                        sem eru óskráðir, samtals 10591,4 fm<sup>2</sup> 100 gistiherbergi, þ.a. fimmtíu herbergi með sér baðherbergi
                        inn af herberginu með sturtu og salerni. Önnur herbergi með aðgangi að uppgerðum baðherbergjum. Góð
                        lofthæð er í húsinu. Bókið skoðun: Jason Kr. Ólafsson, s. 775 1515 - jassi@casterlyrock.is - löggiltur
                        fasteignasali.
                    </p>
                    <p>

                        Nánari lýsing: Casterly Rock var lengi vel höfuðvígi Lannister ættarinnar. Kastalinn er
                        staðasettur á vesturströnd Westeros á hróstrugum höfða með útsýni yfir Haf Sólarlagsins sem og borgina
                        Lannisport. Hann er samansettur úr varnarvirkjum sem byggð eru inn í og ofan á bergið en glæsilegasti
                        hlutinn er staðsettur inni í berginu sjálfu, undir hinum sýnilega kastala. Ógrynni af grafhvelfingum,
                        dýflissum og lausavirkjum hafa verið smíðuð inn í grunninn þar sem Casterly Rock stendur ofan á gullnámu.
                        Kastalanum fylgja því gríðarlegir tekjumöguleikar. Eftir því sem unnið hefur verið úr námunni hefur
                        hvelfingunum verið breytt í híbýli. Casterly Rock er stanslaust í mótun.

                        Aldur: 6000 ár (samkvæmt goðsögum).
                    </p>
                    <p>

                        Stofa/borðstofa/veislusalur: Björt og rúmgóð með fallegu upprunalegu parketi á gólfi. Fallegt
                        parket með fiskibeinamynstri. Rúmgott herbergi/stofa sem er með útgengi frá eldhúsi og einnig af gangi. Þar
                        er hurð þar sem hægt er að ganga út í garð austanmegin.Eldhús með gluggum til austurs og útgengi í garð,
                        þaðan er einnig stigi sem liggur í kjallara. 20 salerni er á hæðinni, 30 skápar og 7 geymslur.
                        Fallegur stigi liggur upp á efri hæðið með ofnum vínil á gólfi.
                    </p>
                    <p>

                        Fjörutíu herbergi búin húsgögnum, tvíbreiðum rúmum öll með flatskjá. Herbergin eru öll með
                        baðherbergi, flísalögð með sturtu. Eitt herbergi á hverri hæð er með útgengi á suð-vestursvalir. 
                        Harðparketi á gólfi, björt og rúmgóð þakhæð: (óskráð rými). Herbergi með tveimur einföldum rúmum og
                        fallegt nýtt baðherbergi með sturtu. Sauna klefinn er úr stuðlabergi að utan og hraunflísar inni
                        í gufu. Útgengi út á þaksvalir með heitum potti. Útsýni er frá þaksvölum. Baðherbergi
                        með sturtu.


                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>