<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
</head>

<body>

    <h1 align="center">Um okkur</h1>

    <table align="center">
        <tbody>
            <tr>
                <td><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dolorous-edd-1502923793.png"
                        alt="" width="400" height="200" /></td>
                <td><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/maggy-1502923795.png" alt=""
                        width="400" height="200" /></td>
                <td><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/xaro-xhoan-daxos-1502923797.png"
                        alt="" width="400" height="200" /></td>
            </tr>
        </tbody>
    </table>
    <p></p>

    <table style="width: 800px" align="center">
        <tbody>
            <tr>
                <td>
                    <p>Hópurinn á bak við fasteignasöluna Casterly Rock er svo miklu meira en bara fasteignasala sem
                        leitar að fasteignaskráningum. Við erum ástríðufullir eignasérfræðingar sem skilja þarfir og vilja viðskiptavina
                        okkar. Þegar þú tekur eignarákvarðanir sem hafa áhrif á fjölskyldu þína þarftu Casterly Rock.
                        Þetta á sérstaklega við þegar leitað er að kastala til eignar og íbúðar. Við skiljum að heimili
                        þitt er mikilvægur hluti af lífi þínu, það hýsir fjölskyldu þína, það er þar sem minningar eru gerðar og
                        það tryggir framtíðina þína. Það ver þig fyrir umhverfinu, hvort sem úti geysar harður vetur eða óvættir
                        sækja að - nema hvort tveggja sé. Í rúmlega þrjátíu ár hefur Casterly Rock byggt upp gríðarlegt magn
                        reynslu og þekkingar á fasteignamarkaðinum í Westeros og þeir möguleikum sem þar er finna. Casterly Rock sérhæfir sig
                        í bestu kastölum og virkjum sem völ er á með lúxus danssölum og dýflissum.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Upplifðu alvöru þjónustu og alvöru kastala. Casterly Rock býður aðeins upp á það besta. Kaup og
                        sala á eign í gegnum Casterly Rock segir að þú sért upplýstur kaupandi. Góðar upplýsingar leiða af sér góðar
                        ákvarðanir sem gefur góðan árangur. Casterly Rock tryggir að þú hafir allar staðreyndir og stuðning sem þú þarft á að
                        halda, lágmarkar alla áhættu og hámarkar umbun. Þetta er öruggasta fjárfesting sem völ er á.*</p>
                </td>
            </tr>

            <tr>
                <td>

                    <p>Casterly Rock er alltaf á fullu. Fulltrúar okkar vinna hörðum höndum við að byggja um hágæða
                        fasteignaskrá og hjálpa kaupendum að skipta yfir í kastla drauma sinna. Nú er tíminn til að kaupa því ógrynni af
                        kastölum standa auðir og bíða hins rétta eiganda. Þótt margir þeirra séu í bágbornu ástandi eru tækifærin frábær fyrir
                        rétta eigendum sem kunna að bretta upp ermar og taka til hendi. </p>
                    <p> </p>
                    <p>Casterly Rock</p>
                    <p>Fagrir kastalar - flottur lífsstíll</p>
                <td>

            </tr>

            <tr>
                <td>

                    <p style="font-size: 4">*Casterly Rock ber ekki ábyrgð á árásum herja, uppvakninga eða dreka.</p>
                </td>
            </tr>
        </tbody>
    </table>



</body>

</html>