{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="offset-1 col-md-10">


        <h3>Skráðu niður nýja eign</h3>

        <h4>Hæ {{ user.get_full_name }}</h4>
        <p>Hér að neðan getur þú skráð inn nýja eign. Settu þær upplýsingar sem við eiga í viðkomandi reiti.</p>

        <form class="form form-horizontal" action="{% url 'add_new_estate' %}" enctype="multipart/form-data"
              method="post">
            {% csrf_token %}

            {#            <div class="form-group">#}

            {{ estate_form|crispy }}
{#            {{ details_form|crispy }}#}
            <br>

            <div class="text-left">
                <input type="submit"
                       value="Create"
                       class="btn btn-danger"
                />
            </div>
            {#            </div>#}
        </form>
    </div>

{% endblock content %}