{% extends 'base.html' %}

{% block content %}

    <h3>{{ estate.name }}</h3>
    <h2>Price: ${{ estate.price }}</h2>
    <p>{{ estate.description }}</p>
    <p>Address: {{ estate.address.street_name }}, {{ estate.address.region_code }}</p>
    <p>Kingdom: {{ estate.address.region_code.kingdom }}</p>
    <p>Current owner: {{ estate.user.get_full_name }}</p>

    {# TODO:   Fara i gegnum allar myndir#}
    {% for photo in estate.estateimage_set.all %}
{#        <div class="thumbnail">#}
            <img src="{{ photo.image }}" class="estate-img thumbnail"/>
{#        </div>#}
    {% endfor %}

    <div class="text-left">
        <a href="{% url 'update_estate' estate.id %}" class="btn btn-outline-danger">Update information</a>
        <a href="{% url 'remove_estate' estate.id %}" class="btn btn-danger">Delete property</a>
    </div>

{% endblock content %}