{% extends 'base.html' %}

{% block content %}

    <h2>{{ estate.name }}</h2>
    <h1>Price: ${{ estate.price }}</h1>
    <p>{{ estate.description }}</p>
    <p>Current owner: {{ estate.notendur.name }}</p>

    {# TODO:   Fara i gegnum allar myndir#}
    {% for photo in estate.estatesimage_set.all %}
{#        <div class="thumbnail">#}
            <img src="{{ photo.image }}" class="estate-img thumbnail"/>
{#        </div>#}
    {% endfor %}

    <div class="text-left">
        <a href="{% url 'update_estate' estate.id %}" class="btn btn-outline-danger">Update information</a>
        <a href="{% url 'remove_estate' estate.id %}" class="btn btn-danger">Delete property</a>
    </div>

{% endblock content %}