{% extends 'base.html' %}

{% block content %}

    <div class="flex-container">
        {# TODO:   Fara i gegnum allar myndir#}
        {% for photo in estate.estateimage_set.all %}
            {% if photo.image %}
                <div class="flex-item">
                    <img src="{{ photo.image }}" class="estate-img thumbnail"/>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="">
        <h3>{{ estate.name }}</h3>
        <h4>Price: ${{ estate.price }}</h4>
        <h4>{{ estate.short_description }}</h4>
        <p>Address: {{ estate.address.street_name }}, {{ estate.address.region_code }}<br>
            Kingdom: {{ estate.address.region_code.kingdom }}</p>
        <p>Current owner: {{ estate.user.get_full_name }}</p>
    </div>
    <div class="flex-container">
        <div class="flex-item item1">
            Fermetrar:<br>
            Herbergi:<br>
            Hæðir:<br>
            Turnar:<br>
            Danssalur:<br>
            Turnskrifstofa:<br>
            Kastaladíki:<br>
            Hesthús:<br>
            Dýflissa:<br>
            Vindubrú:
        </div>
        <div class="flex-item item2">
            {{ estate.size }}<br>
            {{ estate.rooms }}<br>
            {{ estate.floors }}<br>
            {{ estate.towers }}<br>

            {% if estate.ballroom == True %}
                Já
            {% else %}
                Nei
            {% endif %}<br>
            {% if estate.tower_office == True %}
                Já
            {% else %}
                Nei
            {% endif %}<br>
            {% if estate.moat == True %}
                Já
            {% else %}
                Nei
            {% endif %}<br>
            {% if estate.stables == True %}
                Já
            {% else %}
                Nei
            {% endif %}<br>
            {% if estate.dungeon == True %}
                Já
            {% else %}
                Nei
            {% endif %}<br>
            {% if estate.drawbridge == True %}
                Já
            {% else %}
                Nei
            {% endif %}<br>

        </div>

        <div class="flex-item item3">
            <h4 id="price">€{{ estate.price }},-</h4>
            <p>Hafa samband:<br>
                <a href="mailto:emailseljanda">Við seljendur</a><br>
                <a href="mailto:xaro@casterlyrock.we">Við fasteignasala</a></p>

            <a href="{% url 'sale-index' estate.id %}" class="btn btn-outline-danger">Kaupa</a>

        </div>
    </div>

    <div class="about">
        <p>{{ estate.description }}
        </p>
    </div>
    {% if user.is_authenticated %}
        <div class="text-left">
            <a href="{% url 'sale-index' estate.id %}" class="btn btn-outline-danger">Kaupa</a>
            <a href="{% url 'update_estate' estate.id %}" class="btn btn-outline-danger">Uppfæra upplýsingar</a>
            <a href="{% url 'remove_estate' estate.id %}" class="btn btn-danger">Eyða eign</a>
        </div>
    {% else %}
        <a href="{% url 'estates-index' %}" class="btn btn-outline-danger">Aftur á forsíðu</a>
    {% endif %}





{% endblock content %}