{% extends 'base.html' %}

{% block content %}

    <div class="estates">
        <div class="container">
            <div class="row">
                {% for estate in estates %}
                    {% include 'estates/estate_single.html' with estate=estate %}
                {% endfor %}
            </div>
        </div>
    </div>

{#    <div class="estates">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                {% for estate in estates %}#}
{#                    {% include 'estates/estate_single.html' with estate=estate %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}



{% endblock content %}


