{% extends 'base.html' %}

{% block content %}

            <!--/ SEARCH BAR -->
    <form style="background-color: #d0000e">

        <input  placeholder="Orðaleit" id="search-bar">
        <br>
        <select id="priceDropdown">
            <option value="">Verð (m.kr)</option>
            <option value="1">0-200</option>
            <option value="2">200-400</option>
            <option value="3">400-600</option>
            <option value="4">600-800</option>
            <option value="5">800 eða fl.</option>
        </select>

        <select id="sizeDropdown">
            <option value="">Fermetrar</option>
            <option value="1">0-200</option>
            <option value="2">200-400</option>
            <option value="3">400-600</option>
            <option value="4">600-800</option>
            <option value="5">800 eða fl.</option>
        </select>

        <select id="roomsDropdown">
            <option value="">Herbergi</option>
            <option value="1">0-5</option>
            <option value="2">5-10</option>
            <option value="3">10-15</option>
            <option value="4">15-20</option>
            <option value="5">20 eða fl.</option>
        </select>

        <select id="floorsDropdown">
            <option value="">Hæðir</option>
            <option value="1">0-2</option>
            <option value="2">2-4</option>
            <option value="3">4-6</option>
            <option value="4">8-10</option>
            <option value="5">10 eða fl.</option>
        </select>

        <select id="towersDropdown">
            <option value="">Turnafjöldi</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 eða fleiri</option>
        </select>
        <br>

        <input type="checkbox" id="ballroomCheck"> Danssalur
        <input type="checkbox" id="tower_officeCheck"> Skrifstofa í turni
        <input type="checkbox" id="moatCheck"> Díki
        <input type="checkbox" id="stablesCheck"> Hlaða
        <input type="checkbox" id="dungeonCheck"> Dýflissa
        <input type="checkbox" id="drawbridgeCheck"> Hengibrú
        <input type="checkbox" id="on_saleCheck"> Til sölu
        <br>

        <button id="search-button">Leita</button>



    </form>

    <div class="row estates">
        {% for estate in estates %}
            {% include 'estates/estate_single.html' with estate=estate %}
        {% endfor %}
    </div>

{% endblock content %}


