{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Skrá inn notanda</h1>
    <form method = "post" class = "form form-horizontal">
        {% csrf_token %}
        {{ form|crispy }}
    <input type = "submit" class = "btn btn-primary" value = "Innskrá" />
    </form>

    <br>
    <div class="border-top pt-3">
            <small class="text-muted">
                Ekki með aðgang? <a class="ml-2" href="{% url 'register' %}">Skrá nýjan notanda</a>
            </small>
    </div>

{% endblock %}