{% extends "base.html" %}
{% block content%}

    <h1>Mitt Svæði</h1>
    <h3> Notandi : {{  user.username  }} </h3>
    <h4>Hæ {{ user.first_name }}!</h4>
    <h4><strong>Hér getur þú séð yfirlit yfir þínar eignir, breytt lykilorði og fleira</strong></h4>

    <p><img src = "{{ user.profile.profile_image }}" alt="description" width="200" height="88" /></p>
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ form }}
        <h1></h1>
        <input type="submit" class="btn btn-primary" value="Save" />

    </form>

{% endblock %}
